Beacon/Beacon.xcodeproj/xcuserdata
Beacon/Beacon.xcodeproj/project.xcworkspace
Central/Central.xcodeproj/xcuserdata
Central/Central.xcodeproj/project.xcworkspace
iBeacon.xcworkspace/xcshareddata
iBeacon.xcworkspace/xcuserdata
BeaconMap/BeaconMap.xcodeproj/xcuserdata
BeaconMap/BeaconMap.xcodeproj/project.xcworkspace
